.close {
  line-height: 0.8;
  float: none; 
}

.btn-group {
  margin-top: 10px;
}

.form-control::-moz-placeholder {
  color: #A3A3A3;
}

ul.nav  {
  display:table;
}

ul.nav li{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.main {
  margin-top: 85px;
}

.add_main_margin {
  margin-top: 115px;
}

.register-form {
  width: 60%;
  margin-top: 0px;
  padding-top: 20px;
}

.tool-bar {
  background-color: #f9f9f9;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo {
  margin-left: 5px;
  margin-right: 10px;
  float: left;
  font-size: 27px;
}

.ui-scrollfix {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.log-row > p {
  margin: 0px;
}

.log-row:hover  {
  background-color: #E5F2F7;
}

.log-row  {
  border: 1px solid rgb(204, 204, 204);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.edit_mode {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E5F2F7;
}

.label-check-all {
  float: left;
  background:none;
  margin-bottom: 0px;
  border: medium none;
  width: 46px;
  margin-top: 0px;
  height: 42px;
  padding-top: 13px;
}

.btn-add-tab {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 17px;
}

input.input-title {
  width: 70% !important;
}

input.input-price {
  width: 30% !important;
}

input.input-price-limit {
  width: 30%;
}

select.form-move-tab {
  width: 170px;
  float: left;
}

input.input-edit-price {
  width: 50% !important;
  float: right !important;
}


.variable-width-row {
  width: 100%;
  padding-left: 200px;
}

p.use-date {
  display: inline-block;
  color: #aba4a6;
  font-size: 14px;
}

.title {
  overflow: hidden;
}

.price {
  text-align:right;
  overflow: hidden;
  white-space: nowrap;
  float: right;
}

.total-price { 
  text-align: right;
}

.minus {
  color: #d9534f;
}

.tabTitle {
  padding-left: 5px;
  padding-right: 5px;
}

.tab-wrap {
  margin-top: 25px;
}

.summary > p:first-child {
  margin-top: 20px;
}
.summary > p {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 30px;
}


@media (max-width: 710px) {
h1 {
  margin-top: 5px;
  margin-bottom: 0px; 
  font-size: 22px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px; 
}

.variable-width-row {
  padding-left: 0px;
}

.edit_mode > .use-date {
  display: none !important;
}

.title {
#  width: 62% !important;
#  padding: 8px 3px;
#  font-size: 14px;
#  text-align: left;
#  line-height: 34px;
}

.price {
#  width: 38% !important;
#  padding: 8px 3px;
  font-size: 14px;
#  text-align: left;
#  line-height: 34px;
}

.pc-tabs {
  white-space: nowrap;
  overflow: auto;
}

.nav-tabs > li {
  float: none;
}

input.input-title {
  width: 60% !important;
}

input.input-price {
  width: 30% !important;
}

input.input-price-limit {
  width: 100%;
}

.label-check-all {
  width: 32px;
}

.btn-regist {
  float: left;
}

.btn-regist > button {
  padding-top: 6px !important;
}

label.input-group-addon {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.summary > p {
  font-size: 16px;
}

.register-form {
  width: 100%;
}

.main {
  margin-top: 110px;
}
.add_main_margin {
  margin-top: 150px;
}

.btn-add-tab {
  padding-top: 2px;
  padding-left: 20px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  height: 37px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.input-number {
  padding-right: 0px;
}

}
