<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/app.css">
  <title>Money Logs</title>
</head>
<body ng-app="App">
  <div ng-controller="GlobalController">
    <div ng-controller="RegisterController">
      <div class="tool-bar ui-scrollfix">
        <h1 class="logo" ><a href="./">Money Logs</a></h1>
        <form class="input-group register-form" ng-submit="addLog()" >
          <input type="text" required placeholder="使ったものを入力" class="form-control input-title" ng-model="newTitle" my-focus ng-enter>
          <input type="number" min="0" required placeholder="金額を入力" class="form-control input-price input-number" ng-model="newPrice">
          <span class="input-group-btn btn-regist">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </form>
    
        <div class="btn-toolbar" ng-controller="ToolbarController">
          <div class="btn-group" ng-click="removeCheckedLog()" ng-hide="toolbar_hide">
            <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
          <div class="btn-group" ng-hide="toolbar_hide">
            <select class="form-control form-move-tab" ng-model="moveTabId" ng-options="tab.id as tab.title for tab in tabs" style="position: relative; top: -2px;"></select>
            <button class="btn btn-primary btn-sm" ng-click="moveTab()">に移動</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container main" ng-class="{add_main_margin: !toolbar_hide}">
      <div ng-controller="TabsController" class="tab-wrap">
        <label class="input-group-addon label-check-all"> 
          <input type="checkbox" ng-change="checkAll()" ng-model="allChecked">
        </label>
        <tabset class="pc-tabs">
          <tab ng-repeat="tab in tabs" active="tab.active" disabled="tab.disabled" select="changeTab(tab.id)">
            <tab-heading>
              <span ng-dblclick="openTab(tab)" class="tabTitle">{{tab.title}}</span>
            </tab-heading>
            {{tab.content}}
          </tab>
          <li class="btn-add-tab"><button ng-click="openTab()" class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span></button></li>
          <li class="btn-add-tab"><button ng-click="editTab()" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-cog"></span></button></li>
        </tabset>
        <div class="clearfix"></div>
      </div>
  
      <ul class="list-unstyled" ng-controller="TodoListController">
        <li class="todo-item" ng-repeat="log in logs" ng-class="{done: log.checked, editing: log == editing}">
          <form class="input-group input-group-lg " ng-submit="doneEdit(logForm)" name="logForm" style="position:relative;">
            <label class="input-group-addon"> <input type="checkbox" ng-model="log.checked"> </label>
            <div class="log-row" ng-click="toggleEditMode($event, log)" ng-class="{edit_mode: log == editing}">
              <p class="title" ng-hide="log == editing">{{ log.title }}</p>
              <input class="form-control right-radius" type="text" required placeholder="使ったものを入力" ng-model="log.title" ng-show="log == editing" my-select="log == editing" ng-blur="doneEdit(logForm)">
              <p class="use-date" >{{ log.date | date:'yyyy-MM-dd HH:mm'}}</p>
              <p class="price"  ng-hide="log == editing">¥ {{ log.price | number }}</p>
              <input class="form-control input-edit-price input-number" type="number" min="0" required placeholder="金額を入力" ng-model="log.price" ng-show="log == editing" ng-blur="doneEdit(logForm)">
              <div class="clearfix"></div>
            </div>
          </form>
        </li>
  
        <li class="summary">
          <p class="input-lg todo-title total-price" ng-if="limit != null"> 上限金額 : ¥ {{ limit | number }} </p>
          <p class="input-lg todo-title total-price"> 合計 : ¥ {{ total | number }} </p>
          <p class="input-lg todo-title total-price" ng-if="limit != null" ng-class="{minus: limit - total < 0}"> 残り : ¥ {{ limit - total | number }} 
          </p>
        </li>
      </ul>
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.min.js"></script>
    <script src="./js/vendors/agrublev/angularLocalStorage/angularLocalStorage.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/services.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/controllers.js"></script>
    <script type="text/ng-template" id="ModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title" ng-if="is_edit == false">新しくタブを作成</h3>
        <h3 class="modal-title" ng-if="is_edit == true">タブを修正</h3>
      </div>
      <div class="modal-body">
        <form ng-submit="ok()" name="tabNameForm">
          <input type="text" required placeholder="タブの名前を入力" class="form-control" ng-model="input.newTabName">
          <br />
          <input type="number" min="0" placeholder="上限金額を入力" class="form-control input-price-limit input-number" ng-model="input.newLimit">
          <br />
          <button type="submit" class="btn btn-primary">OK</button>
        </form>
        <div class="pull-right" ng-if="is_edit == true && defaultTab.id != currentTabId">
          <button class="btn btn-danger" ng-click="remove()">このタブを削除</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>
  </div>
</body>
</html>
